<h2>New Tech Program</h2>

<form action="/program/add" method="post">

  <div>
    <label  class="form-label">Name</label>
    <input type="text" class="form-control" >
  </div>
  <div >
    <label  class="form-label">Affilation</label>
    <input type="date" class="form-control"> 
  </div>
  <div class="col-12">
    <label  class="form-label">Established</label>
    <input type="date" class="form-control" >
  </div>
  
  <div >
    <button type="submit" class="btn btn-primary">Save Program</button>
  </div>
</form>